.slick-slider {
  position: relative !important;
}

.slick {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  padding-bottom: 40px !important;
}

// ul.slick-dots {
//   display: none !important;
// }

.slick-slide {
  color: black;
}

.slick-arrow.slick-next {
  scale: 2;
  margin-right: 33px;
  z-index: 1000;
}

.slick-arrow.slick-prev {
  scale: 2;
  margin-left: 33px;
  z-index: 1000;
}

.slick-arrow.slick-next::before {
  color: rgba(153, 153, 153, 0.597);
}

.slick-arrow.slick-prev::before {
  color: rgba(153, 153, 153, 0.597);
}
