.slick-slider {
  position: relative !important;
}

.slick-slider:hover {
  .slick-arrow {
    opacity: 1;
  }
}

.slick {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  padding-bottom: 40px !important;
}

.slick-slide {
  color: black;
}

.slick-arrow {
  opacity: 0;
  transition: 0.5s;
}

.slick-arrow.slick-next {
  scale: 2;
  margin-right: 33px;
  z-index: 2;
}

.slick-arrow.slick-prev {
  scale: 2;
  margin-left: 33px;
  z-index: 2;
}

.slick-arrow.slick-next::before {
  color: rgba(153, 153, 153, 0.597);
}

.slick-arrow.slick-prev::before {
  color: rgba(153, 153, 153, 0.597);
}
