body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

* {
  font-family: "Quicksand";
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css");
@import url("https://fonts.googleapis.com/css?family=Quicksand");

.bg-white {
  background-color: #ffdb15 !important;
}
